/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";
@import '~primereact/resources/primereact.min.css';
@import '~primereact/resources/themes/cupertino/theme.css';
@import './primereact.patch.css';  /* used to make customization/enhancements */
@import "./react-split-pane.css";
@import "./layout.css";

body {
  margin: 0;
  padding: 0;
}

.root-container {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.splitpane-container {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

fieldset {
  display: block;
  margin: 0;
  padding: 0.2em;
  border: 0;
}
